/* Font-Family and... CSS, I guess? */
html, body, #container {
    font-family: Arial;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Stuff */
.maxheight {
    height: 100%;
    overflow-y: scroll;
}

/* Landscape orientation screen division */
@media (orientation: landscape) {
    .first-half {
        height: 100%;
        width: 50%;
        float: left;
        background-color: #61c0ff;
    }

    .second-half {
        height: 100%;
        width: 50%;
        float: right;
        background-color: #3498db;
    }
}

/* Portrait orientation screen division */
@media (orientation: portrait) {
        .first-half {
        height: 50%;
        width: 100%;
        background-color: #61c0ff;
    }

    .second-half {
        height: 50%;
        width: 100%;
        background-color: #3498db;
    }
}

/* Lists */
.list {
    overflow-y: scroll;
    font-size: 20px;
    height: 100%;
    width: 100%;
}

.list-item {
    border-bottom: #606060 .05em solid;
    color: white;
    padding: .5em;
    width: 100%;
}

.list-item:last-child {
    border-bottom: none 0;
}