/* Font-Family and... CSS, I guess? */
html, body, #container {
    font-family: Arial;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

/* Stuff */

.maxheight {
    height: 100%;
    overflow-y: scroll;
}

/* Landscape orientation screen division */

@media (orientation: landscape) {
    .first-half {
        background-color: #61c0ff;
        float: left;
        height: 100%;
        width: 50%;
    }

    .second-half {
        background-color: #3498db;
        float: right;
        height: 100%;
        width: 50%;
    }
}

/* Portrait orientation screen division */

@media (orientation: portrait) {
    .first-half {
        background-color: #61c0ff;
        height: 50%;
        width: 100%;
    }

    .second-half {
        background-color: #3498db;
        height: 50%;
        width: 100%;
    }
}


#music-list, #play-list {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    padding: 0.2em;
}

/* List items */

.handle {
    color: #61c0ff;
    cursor: move;
    font-size: 1.5em;
    padding-top: -1em;
    padding-right: 0.5em;
    float: left;
}

.remove-btn {
    float: right;
    color: white;
}

.list-text {
    float: left;
}

/* Different list things */

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list_style_default li {
    background-color: #fff;
    padding: 10px 40px;
}

.list_style_default .sortable-ghost {
    background-color: #F4E2C9;
    opacity: 0.4;
}

.list_style_transparent li {
    background-color: transparent;
    color: white;
    padding: 10px 40px;
}

.list_style_transparent li:not(:last-child) {
    border-bottom: 1px white solid;
}

.list_style_transparent li .handle {
    color: white;
}

#play-list-container {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    right: 0.5em;
    height: 50%;
    overflow-y: scroll;
    border: 4px white solid;
    border-radius: 10px;
    z-index: 10;
}

#random-mode-text {
    text-align: center;
    padding-top: 1em;
}

.fa {
    font-size: 3em;
}