/* Font-Family and... CSS, I guess? */
html, body, #container {
    font-family: Arial;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

/* Stuff */

.maxheight {
    height: 100%;
    overflow-y: scroll;
}

#wave-canvas {
    bottom: 7em;
    height: 4em;
    position: absolute;
    width: 100%;
    z-index: 0;
}

.first-half {
    display: flex;
    flex-flow: column;
}

.footer {
    padding: 0.6em 0.6em 0 1.2em;
    display: flex;
    flex-flow: row;
    border-top: solid white 1px;
}

.footer p {
    flex: 1 1 auto;
    padding-top: 0.7em;
}

#btnUpload {
    flex: 1 1 auto;
    max-width: 3em;
    background-color: white;
    color: #3498db;
    margin-bottom: 0.35em;
}

/* Landscape orientation screen division */

@media (orientation: landscape) {
    .first-half {
        background-color: #61c0ff;
        float: left;
        height: 100%;
        width: 50%;
    }

    .second-half {
        background-color: #3498db;
        float: right;
        height: 100%;
        width: 50%;
    }
}

/* Portrait orientation screen division */

@media (orientation: portrait) {
    .first-half {
        background-color: #61c0ff;
        height: 50%;
        width: 100%;
    }

    .second-half {
        background-color: #3498db;
        height: 50%;
        width: 100%;
    }
}

/* List items */

.handle {
    color: #61c0ff;
    cursor: move;
    float: left;
    font-size: 1.5em;
    padding-right: 0.5em;
    padding-top: -1em;
}

.remove-btn {
    bottom: 0.3em;
    color: white;
    position: absolute;
    right: 1em;
    top: 0.3em;
}

.list-text {
    display: block;
    margin-top: 0.4em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 5em;
}

/* Different list things */

#music-list, #play-list {
    overflow-y: scroll;
    padding: 0.6em;
}

#play-list {
    height: 100%;
    width: 100%;
}

#music-list {
    flex: 1 1 auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list_style_default li {
    background-color: #fff;
    overflow: hidden;
    padding: 10px 40px;
}

.list_style_default .sortable-ghost {
    background-color: #F4E2C9;
    opacity: 0.4;
}

.list_style_transparent li {
    background-color: transparent;
    color: white;
    padding: 10px 40px;
    border: none;
}

.list_style_transparent li:not(:last-child) {
    -ms-border-radius: 0;
    border-bottom: 1px white solid;
    border-radius: 0;
}

.list_style_transparent li .handle {
    color: white;
}

#play-list-container {
    -ms-border-radius: 10px;
    border: 4px white solid;
    border-radius: 10px;
    bottom: 12em;
    left: 0.5em;
    overflow-y: scroll;
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    z-index: 10;
}

#random-mode-text {
    padding-top: 1em;
    text-align: center;
}

.fa {
    font-size: 3em;
}

#music-title {
    position: absolute;
    bottom: 7.5em;
    left: 0.5em;
    right: 0;
    color: white;
    font-size: 1.25em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

/* Controls */

#control-div {
    bottom: 0;
    height: 7em;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 50;
}

@media (max-width: 600px) {
    #control-div {
        font-size: 70%;
    }
}

#volumeSlider_id {
    position: absolute;
    right: 2em;
    bottom: 2em;
    top: 2em;
    width: 4em;
    margin-top: 0.3em;
}

@media (max-width: 1000px) {
    #volumeSlider_id {
        left: 50%;
        bottom: 0.1em;
        top: auto;
        margin-left: -2em;
    }
}

.clickable {
    color: #ffffff;
    color: rgba(255, 255, 255, 0.7);
}

.clickable:hover {
    color: #ffffff;
    cursor: pointer;
}

.clickable:active {
    color: #dddddd;
}

#btnPlayPause {
    font-size: 5.5em;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

#btnForward, #btnBackward {
    font-size: 5em;
}

.music-url, .music-filename {
    display: none;
    position: absolute;
    visibility: collapse;
}